
.card{
    &-dish{
        display: grid;
        grid-template-columns: 30% 60%;
        flex-flow: column;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        img{
            max-width: 100%;
            display: block;
            border-radius: 0.5rem;
        }
    }
    &-colTxt{
        padding: 0 0 0 20px;
        h3{
            color: var(--magenta);
        }
        p{
            color: var(--cafe);
        }
    }
}