.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &-inner{
      background: white;
      padding:0;
      height: 100%;
      img{
        width: 100%;
        display: block;
      }
    }
    &-colTxt{
      padding: 2.5rem;
      margin-top: -20%;
      background: #fff;
      position: relative;
      border-radius: 29px;
      display: flex;
      flex-flow: column;
      gap: .8rem;
      color: var(--cafe);
      h2{
        font-size: 2.3rem;
        line-height: 1;
        color: var(--magenta);
      }
      p{
        font-size: 1.1rem;
      }
    }
    &-btnBack{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 45%;
      }
    }
    &-btnLike{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      left: 20px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 40%;
      }
    }
  }