.header{
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    position: fixed;
    background: #fff;
    color: var(--cafe);
    z-index: 1;
    &-logo{
        display: block;
        width: 120px;
    }
    &-back{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--magenta);
        font-weight: 600;
        font-size: 1.1rem;
        img{
            height: 20px;
        }
    }
}
.header+.categories-wrap{
    padding: 70px 0 0 0;
}