.wrap-dish{
  display: flex;
  flex-wrap: wrap;
  width: 767px;
  margin: 0 auto;
}

.card-dish{
  width: 50%;
}
.card-dish img{
  width: 200px;
}
.categories-title{
  width: 767px;
  margin: 0 auto;
}